
.container {
  width: 700px;
  height: 700px;
  display: block;
  margin: 25px auto;
  position: relative;
}

#cvs {
  position: absolute;
  border: 1px solid #000;
}

.options {
  position: absolute;
  width: 700px;
  height: 700px;
}

.options h1 {
  text-align: center;
  font-size: 65px;
  font-family:"Arial Narrow", Arial, sans-serif;
  color: #f00;
  margin: 30px 0 20px 0;
}

.options h2 {
  font-family: "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-weight: bold;
}

.options div {
  display: inline-block;
}

.options .computer,
.x {
  font-family: "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 150px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}

.options .friend,
.o {
  font-family: "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}

.options .easy {
  font-family: "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}
.options .medium {
  font-family:"Arial Narrow", Arial, sans-serif;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}
.options .hard {
  font-family: "Arial Narrow", Arial, sans-serif;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font-size: 1.5em;
  border-radius: 5px;
  margin-left: 10px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #000;
}

.options .friend:hover,
.computer:hover,
.easy:hover,
.medium:hover,
.hard:hover,
.x:hover,
.o:hover {
  background-color: #011627;
  color: #fff;
}

.options .play {
  font-family:"Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
  width: 70px;
  display: block;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #011627;
  text-align: center;
  padding: 10px;
  background-color: #011627;
  color: #fff;
  cursor: pointer;
  transition: 100ms width ease-in;
}
.options .play:hover {
  width: 110px;
}

.active {
  background-color: #011627 !important;
  color: #fff !important;
}

.hide {
  display: none;
}

.gameover {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.75);
}
.gameover h1 {
  text-align: center;
  font-size: 50px;
  font-family: "Arial Narrow", Arial, sans-serif;
  color: #fff;
  margin: 40px 0 20px 0;
}

.gameover .winner-img {
  display: block;
  margin: 20px auto;
}

.gameover .play {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
  width: 150px;
  display: block;
  margin: 25px auto;
  border-radius: 5px;
  border: 1px solid #fff;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 100ms width ease-in;
}
.gameover .play:hover {
  width: 200px;
}
